.social{

	&__item {
		display: inline-block;
		padding-right: 30px;
	}

	&__white {
		width: 1.5625rem;
		height: 1.5625rem;
		fill: #fff;
		&:hover {
			fill: #4e8839;
		}
	}

	&__white-opacity {
		fill-opacity: .6;
		&:hover {
			fill: #ffffff;
			fill-opacity: .9;
		}
	}
}