.footer
	.container
		.footer__top
			.copyright
				.copyright__left
					p Этот сайт сделан в рамках обучения в Школе онлайн образования LoftSchool.
				.copyright__center
					ul.search
						li.search__item
							a.search__link(href="#") Мои работы
						li.search__item
							a.search__link(href="#") Обо мне
						li.search__item
							a.search__link(href="#") Блог
						li.search__item
							a.search__link(href="#") Авторизация
					ul.social
						li.social__item
							a.social__link(href="#")
								svg.social__white.social__white-opacity
									use(xlink:href='assets/img/sprite.svg#vk')
						li.social__item
							a.social__link(href="#")
								svg.social__white.social__white-opacity
									use(xlink:href='assets/img/sprite.svg#github')
						li.social__item
							a.social__link(href="#")
								svg.social__white.social__white-opacity
									use(xlink:href='assets/img/sprite.svg#in')
				.copyright__right
					p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
					p.bold — Martin Golding
	.footer__bottom
			p © Елена Исправникова | Создано с любовью в LoftSchool | 2016

