.footer
	.footer__top
		.copyright
			.copyright__left
				p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
			.copyright__center
				ul.social
					li.social__item
						a.social__lin.social__link_vk2(href="#") ntrcn
					li.social__item
						a.social__link.social__link_fb2(href="#") ntrcn
					li.social__item
						a.social__link.social__link_in2(href="#") ntrcn
			.copyright__right
				p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
				p — Martin Golding
	.footer__bottom
		p © Владимир Астахов | Создано с любовью в LoftSchool | 2016

