header.header
	.header__top
		.container
			.menu
				.menu__left
					ul.social
						li.social__item
							a.social__link(href="#")
								svg.social__white
									use(xlink:href='assets/img/sprite.svg#vk')
						li.social__item
							a.social__link(href="#")
								svg.social__white
									use(xlink:href='assets/img/sprite.svg#github')
						li.social__item
							a.social__link(href="#")
								svg.social__white
									use(xlink:href='assets/img/sprite.svg#in')
				.menu__right
					a.hamburger(href="#")
						svg
							use(xlink:href='assets/img/sprite.svg#hamburger')
	.header__middle
		.about
			.about__fon
				img.about__portfolio(src='assets/img/portfolio_header.png')
				//svg.about__portfolio
					use(xlink:href='assets/img/sprite.svg#portfolio_header')
			.about__avatar
			.about__text
				p.zag Елена Исправникова
				p Личный сайт веб-разработчика
	.header__bottom
		a(href="#")
			svg.arrow
				use(xlink:href='assets/img/sprite.svg#arrow_down')
		svg.traingle(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none")
			polygon.left(points="0,0   0,86   500.8,86   500.8,75.5")
			polygon.right(points="1000,0   1000,86   500,86   500,75.5")
