header.header
	.header__top
		.container
			.menu
				.menu__left
					ul.social
						li.social__item
							a.social__link(href="#")
								svg.social__white
									use(xlink:href='assets/img/sprite.svg#vk')
						li.social__item
							a.social__link(href="#")
								svg.social__white
									use(xlink:href='assets/img/sprite.svg#github')
						li.social__item
							a.social__link(href="#")
								svg.social__white
									use(xlink:href='assets/img/sprite.svg#in')
				.menu__right
					a.hamburger(href="#")
						svg
							use(xlink:href='assets/img/sprite.svg#hamburger')
	.header__middle
		.about
			.about__fon
				svg.about__portfolio
					use(xlink:href='assets/img/sprite.svg#portfolio_header')
			.about__img
				img(src='assets/img/IMG_5059_2_s.jpg' alt='')
			.apout__text
				h2 Елена Исправникова
				p Личный сайт веб-разработчика
	.header__bottom
		span.fa.fa-chevron-down.fa-2x(href='#')